@tailwind base;
@tailwind components;
@tailwind utilities;

.yRemoteSelection {
    background-color: rgb(250, 129, 0, .5)
}

.yRemoteSelectionHead {
    position: absolute;
    border-left: #3482F6 solid 2px;
    border-top: #3482F6 solid 2px;
    border-bottom: #3482F6 solid 2px;
    height: 100%;
    box-sizing: border-box;
}

.yRemoteSelectionHead::after {
    position: absolute;
    content: ' ';
    border: 3px solid #3482F6;
    border-radius: 4px;
    left: -4px;
    top: -5px;
}

